<div class="wrapper">

    <div class="container">
        <section class="welcome">
            <app-welcome></app-welcome>
        </section>
        <section class="projects" id="projects" #projects>

            <div class="section-title">
                <p class="maxenn">/</p>
                <p>Projects.</p>
            </div>

            <div class="section-container">
                <app-project [project]="project[0]"></app-project>
            </div>
            <div class="section-container">
                <app-project [project]="project[1]"></app-project>
            </div>
            <div class="section-container">
                <app-project [project]="project[2]"></app-project>
            </div>

        </section>

        <section class="contact-me" id="contactMe">
            <!-- <div class="section-title">
                <pre><p>Contact </p> </pre>
                <p class="maxenn">me.</p> -->
            <!-- </div> -->
            <app-contact-me></app-contact-me>
        </section>

    </div>


</div>