<div class="wrapper">

    <nav>
        <p class="maxenn">Maxenn. &nbsp;</p>
        <p class="portfolio">/Portfolio</p>
    </nav>

    <div class="container">
        <div class="hello animate">

            <p>Hi, I'm &nbsp;</p>
            <p class="maxenn">Antheis Maxenn</p>
        </div>

        <div class="about-me animate" style="--delay-order: 4">
            <p>
                I'm a Full Stack Software Engineer, with a passion to create and problem solve. I bring high energy, a great attitude, and a genuine love to collaborate.

            </p>
        </div>

        <div class="action-btn">

            <div class="btn-container animate">


                <button class="project-btn" (click)="scrollTo('projects')">
                    <pre><p  class='maxenn'>my </p></pre>
                    <p>Projects.</p>
                </button>

                <button class="github-btn" (click)="goTo('https://www.github.com/antheismaxenn')">
                    <p>GitHub</p>
                    <p class="maxenn">/me</p>
                </button>

                <button class="contact-btn" (click)="scrollTo('contactMe')">
                <pre><p>Contact </p> </pre>
                <p class='maxenn'>me.</p>
                </button>

            </div>

        </div>


    </div>

</div>